<button  type="button" onclick="location.href='@Url.Action("Users", "DashBoard")'">Users</button>
<button  type="button" onclick="location.href='@Url.Action("Index", "Product")'">Products</button>
<button  type="button" onclick="location.href='@Url.Action("Index", "Category")'">Category</button>
<button  type="button" onclick="location.href='@Url.Action("#", "#")'">Orders</button>
<button type="button" onclick="location.href='@Url.Action("index","Role")'">Roles</button>
<button type="button" onclick="location.href='@Url.Action("AddRole", "Role")'">Add New Role</button>
<button type="button" onclick="location.href='@Url.Action("Create","Category")'">create Category</button>
