@model IEnumerable<MASHROEE.ViewModel.ProductViewModel>

@{
    ViewData["Title"] = "Index";
}
<a asp-action="Create" class="btn btn-outline-warning btn-lg">
    Create New
    <i class="bi bi-patch-plus btn-lg"></i>
</a>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-warning mt-5">
        <h4 class="alert-heading">NO Products!</h4>
        <p class="mb-0">No Product Were Added Yet!</p>
    </div>
}
else
{
    <div class="row mt-5">
        @foreach (var Product in Model)
        {
            <div class="col-lg-4 col-md-6">
                <a asp-action="Details" asp-route-id="@Product.Id" class="text-decoration-none">
                    <div class="card border-info mb-3" style="max-width: 20rem;">
                        <img src="@Product.image" class="card-img-top" alt="@Product.Name" style="height: 180px; object-fit: cover;">

                        <div class="card-body text-center">
                            <h5 class="card-title text-dark fw-bold">@Product.Name</h5>
                            <h4 class="text-success">@Product.Price $</h4>
                            <p class="card-text text-muted">
                                @if (!string.IsNullOrEmpty(Product.Description) && Product.Description.Length > 50)
                                {
                                    @Product.Description.Substring(0, 50)
                                    <span>....</span>

                                }
                                else
                                {
                                    @Product.Description
                                }
                            </p>
                            <button type="button" class="btn btn-light">BUY</button>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>

}
